<modal-component
  [title]="model.id > 0 ? 'Editeaza sofer' : 'Adauga sofer'"
  [form]="form"
  (onDecline)="decline()"
  (onSubmit)="confirmSubmit()">
  <form class="form" novalidate #form="ngForm" [ngFormOptions]="{updateOn: 'blur'}">
    <div class="container">
      <div class="row mb-2">
        <div class="col">
          <label for="lastName" class="form-label required">Nume</label>
          <input id="lastName" name="lastName" class="form-control"
                 [(ngModel)]="model.lastName"
                 required
                  #lastName="ngModel">
          <app-validation-summary [appValidationModel]="lastName"></app-validation-summary>
        </div>
        <div class="col">
          <label for="firstName" class="form-label required">Prenume</label>
          <input id="firstName" name="firstName" class="form-control "
                 [(ngModel)]="model.firstName"
                 required
                  #firstName="ngModel">
          <app-validation-summary [appValidationModel]="firstName"></app-validation-summary>
        </div>
        <div class="col">
          <label for="nationalId" class="form-label">Idnp</label>
          <input id="nationalId" name="nationalId" class="form-control" [(ngModel)]="model.nationalId"/>
        </div>

      </div>

      <div class="row mb-2">

        <div class="col">
          <label for="birthDate" class="form-label">Data nastere</label>
          <div class="input-group">
            <input type="text"
                   id="birthDate" name="birthDate" class="form-control alert alert-secondary"
                   placeholder="Data nastere"
                   bsDatepicker
                   [bsConfig]="pickerConfig.get()"
                   [(ngModel)]="model.birthDate"
                   #birthDate="ngModel">
          </div>
          <app-validation-summary [appValidationModel]="birthDate"></app-validation-summary>
        </div>



        <div class="col">
          <label for="licExpDate" class="form-label">Permis conducere</label>
          <div class="input-group">
            <input type="text" id="licExpDate" name="licExpDate"
                   [ngClass]="getColor(model.licExpDate)"
                   placeholder="Data expirare"
                   class="form-control"
                   bsDatepicker
                   [bsConfig]="pickerConfig.get()"
                   [(ngModel)]="model.licExpDate"
                   #licExpDate="ngModel">
          </div>
          <app-validation-summary [appValidationModel]="licExpDate"></app-validation-summary>
        </div>

        <div class="col">
          <label for="tahoExpDate" class="form-label">Valabilitate Taho</label>
          <div class="input-group">
            <input type="text" id="tahoExpDate" name="tahoExpDate"
                   [ngClass]="getColor(model.tahoExpDate)"
                   placeholder="Data expirare"
                   class="form-control"
                   bsDatepicker
                   [bsConfig]="pickerConfig.get()"
                   [(ngModel)]="model.tahoExpDate"
                   #tahoExpDate="ngModel">
          </div>
          <app-validation-summary [appValidationModel]="tahoExpDate"></app-validation-summary>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col">
          <label for="medExpDate" class="form-label">Valabilitate cert. medical</label>
          <div class="input-group">
            <input type="text" id="medExpDate" name="medExpDate"
                   [ngClass]="getColor(model.medExpDate)"
                   placeholder="Data expirare"
                   class="form-control"
                   bsDatepicker
                   [bsConfig]="pickerConfig.get()"
                   [(ngModel)]="model.medExpDate"
                   #medExpDate="ngModel">
          </div>
          <app-validation-summary [appValidationModel]="medExpDate"></app-validation-summary>
        </div>

        <div class="col">
          <label for="nationalExpDate" class="form-label">Valabilitate Buletin</label>
          <div class="input-group">
            <input type="text" id="nationalExpDate" name="nationalExpDate"
                   [ngClass]="getColor(model.nationalExpDate)"
                   placeholder="Data expirare"
                   class="form-control"
                   bsDatepicker
                   [bsConfig]="pickerConfig.get()"
                   [(ngModel)]="model.nationalExpDate"
                   #nationalExpDate="ngModel">
          </div>
          <app-validation-summary [appValidationModel]="nationalExpDate"></app-validation-summary>
        </div>

        <div class="col">
          <label for="passportExpDate" class="form-label">Valabiliate Casco</label>
          <div class="input-group">
            <input type="text" id="passportExpDate" name="passportExpDate"
                   [ngClass]="getColor(model.passportExpDate)"
                   placeholder="Data expirare"
                   class="form-control"
                   bsDatepicker
                   [bsConfig]="pickerConfig.get()"
                   [(ngModel)]="model.passportExpDate"
                   #passportExpDate="ngModel">
          </div>
          <app-validation-summary [appValidationModel]="passportExpDate"></app-validation-summary>
        </div>
      </div>
    </div>
  </form>
</modal-component>
