<div class="row">
  <div class="col-12">
    <table class="table align-middle table-hover">
      <thead class="table-light">
      <tr>
        <th>#</th>
        <th>Marca</th>
        <th>Numar</th>
        <th>Vin</th>
        <th>Categorie</th>
        <th>Tip</th>
        <th>Certificat ITP</th>
        <th>Certificat CEMT</th>
        <th>Rca</th>
        <th>Agreriere</th>
        <th>Cartea Verde</th>
        <th>Casco</th>
        <th>Extinctor</th>
        <th>Tahograf</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let truck of trucks; let idx = index;"
          (click)="onEditClick(truck)"
          [ngClass]="truck.id == this.selectedTruckId ? 'active' : ''">
        <th scope="row">{{idx + 1}}</th>
        <td>{{truck.brand}}</td>
        <td>{{truck.plateNumber}}</td>
        <td>{{truck.vin}}</td>
        <td>{{truck.vehicleCategory?.name}}</td>
        <td>{{truck.autoType?.name}}</td>
        <td [ngClass]="getCellColor(truck.itpExpDate)">{{truck.itpExpDate | date:'dd.MM.yyyy'}}</td>
        <td [ngClass]="getCellColor(truck.certCemtExpDate)">{{truck.certCemtExpDate | date:'dd.MM.yyyy'}}</td>
        <td [ngClass]="getCellColor(truck.certRcaExpDate)">{{truck.certRcaExpDate | date:'dd.MM.yyyy'}}</td>
        <td [ngClass]="getCellColor(truck.certAgrExpDate)">{{truck.certAgrExpDate | date:'dd.MM.yyyy'}}</td>
        <td [ngClass]="getCellColor(truck.certCVerdeExpDate)">{{truck.certCVerdeExpDate | date:'dd.MM.yyyy'}}</td>
        <td [ngClass]="getCellColor(truck.certCascoExpDate)">{{truck.certCascoExpDate | date:'dd.MM.yyyy'}}</td>
        <td [ngClass]="getCellColor(truck.certStingExpDate)">{{truck.certStingExpDate | date:'dd.MM.yyyy'}}</td>
        <td [ngClass]="getCellColor(truck.certTahoExpDate)">{{truck.certTahoExpDate | date:'dd.MM.yyyy'}}</td>
        <td class="col-1 text-center">
          <button id="deleteButton" class="btn btn-danger"
                  (click)="onDeleteClick(truck); $event.stopPropagation()">
            <span class="oi oi-trash" aria-hidden="true"></span>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <button class="btn btn-primary" type="button"
            (click)="onAddClick()">Adauga</button>
  </div>
</div>
