<div class="row">
  <div class="col-12">
    <table class="table">
      <thead class="table-light">
      <tr>
        <th>#</th>
        <th>Marca</th>
        <th>Numar</th>
        <th>VIN</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let truck of trucks; let idx = index;">
        <th scope="row">{{idx + 1}}</th>
        <td>{{truck.brand}}</td>
        <td>{{truck.plateNumber}}</td>
        <td>{{truck.vin}}</td>
        <td class="col-3 text-end">
          <button class="btn btn-primary me-2">Editeaza</button>
          <button class="btn btn-danger" (click)="onDeleteClick(truck)">Elimina</button>
        </td>
      </tr>
      </tbody>
    </table>
    <button class="btn btn-primary">Adauga</button>
  </div>
</div>
