<div class="main">
  <app-topbar></app-topbar>
  <div class="sidebar">
    <div class="top-row-brand">
      <div class="container text-center m-auto">
        <a class="navbar-brand" routerLink="">
          <img src="./assets/img/logo.png" class="navbar-brand" height="50"/>
        </a>
      </div>
    </div>

    <div class="container">
      <app-navmenu></app-navmenu>
    </div>
    <div class="workspace">
      <div class="container-fluid overflow-auto">
        <router-outlet (activate)="onRouteActivate($event)"></router-outlet>
      </div>
    </div>

  </div>
</div>
