<div class="alert alert-primary shadow ">Agenda</div>
<hr>
<div>
  <div class="calendar">
    <bs-datepicker-inline
      [bsConfig]="bsConfig"
      (bsValueChange)="onDateChange($event)"
      [bsValue]="selectedDate"></bs-datepicker-inline>
  </div>
  <div class="mt-2">
    <p class="alert alert-secondary">Agenda pentru {{selectedDate | date:'dd.MM.yyyy'}}</p>
    <hr>
    <ul class="list-group overflow-auto tasks" *ngIf="tasks.length; else noTasks">
      <button class="list-group-item list-group-item-action" *ngFor="let task of tasks">
        <div class="d-flex justify-content-between">
          <div>{{task.title}}</div>
          <button class="btn btn-danger" (click)="onDelete(task)">
            <span class="oi oi-trash" aria-hidden="true"></span>
          </button>
        </div>
      </button>
    </ul>
    <form class="d-grid mt-2" #form="ngForm">
      <input type="text" name="title"
             class="alert" placeholder="Sarcina noua"
             [(ngModel)]="title"
              required>
      <button class="btn btn-primary mt-1"
              [disabled]="form.invalid"
              (click)="onSubmit()">Adauga</button>
    </form>
  </div>
  <ng-template #noTasks>
    <p class="text-center alert alert-success">Nu sunt sarcini...</p>
  </ng-template>
</div>
