.container-top{
.alert{
  margin-bottom: 0.2rem;
  .table{
    font-size: 16px;
  }
}
  .routes-container{
    width:100%;
    padding: 5px;
  }
}

.container-bottom{
  height: 100%;

  .alert{
    margin-bottom: 0.2rem;
  }

  .orders-container{
    background-color: #ffe;
    width:100%;
    padding: 5px;
  }
}
