<div>
  <div class="alert alert-warning shadow " role="alert">
    Expirari
  </div>
  <hr>
  <accordion class="accordion" [isAnimated]="true">
    <accordion-group *ngFor="let group of groups">
      <button
        class="btn btn-link btn-block justify-content-between d-flex w-100 shadow-none text-decoration-none"
        accordion-heading type="button">
        <div class="pull-left float-left position-relative">{{group}}
          <span class="position-absolute top-0 start-100 translate-middle-y badge rounded-pill bg-warning shadow ">
            {{getTotalByGroup(group)}}
          </span>
        </div>
      </button>
            <accordion-group
              *ngFor="let elementGroup of expirations.get(group)">
              <button
                class="btn btn-link btn-block justify-content-between d-flex w-100 shadow-none text-decoration-none"
                accordion-heading type="button">
                <div class="pull-left float-left position-relative"> {{elementGroup.name}}
                  <span class="position-absolute top-0 start-100 translate-middle-y badge rounded-pill bg-warning shadow ">
                    {{elementGroup.values?.length}}
                  </span>
                </div>
              </button>

              <div class="alert alert-warning">
                <i *ngFor="let exp of elementGroup.values">{{exp.name}}: {{exp.values | date:'dd.MM.yyyy'}}<br></i>
              </div>

            </accordion-group>
    </accordion-group>
  </accordion>
</div>
