<div class="modal-header">
  <h4 class="modal-title">{{model.id > 0 ? 'Editeaza remorca' : 'Adauga remorca'}}</h4>
</div>
<div class="modal-body">
  <form class="form" novalidate #form="ngForm" [ngFormOptions]="{updateOn: 'blur'}">
    <div class="container">
      <div class="row mb-2">
        <div class="col">
          <label for="brand" class="form-label">Marca</label>
          <input id="brand" name="brand" class="form-control" [(ngModel)]="model.brand"/>
        </div>
        <div class="col">
          <label for="plate" class="form-label">Numar de inmatriculare</label>
          <input id="plate" name="plateNumber" class="form-control"
                 [(ngModel)]="model.plateNumber"
                 required #plate="ngModel"/>
          <app-validation-summary [appValidationModel]="plate"></app-validation-summary>
        </div>
        <div class="col">
          <label for="vin" class="form-label">VIN</label>
          <input id="vin" name="vin" class="form-control" [(ngModel)]="model.vin"/>
        </div>
        <div class="col">
          <label for="category" class="form-label">Categorie</label>
          <select id="category" name="category" class="form-control form-select"
                  [(ngModel)]="model.trailCategoryId">
            <option *ngFor="let category of categories"
                    [ngValue]="category.id">{{category.name}}</option>
          </select>
        </div>
        <div class="col">
          <label for="type" class="form-label">Tip</label>
          <select id="type" name="type" class="form-control form-select"
                  [(ngModel)]="model.autoTypeId">
            <option *ngFor="let autoType of autoTypes"
                    [ngValue]="autoType.id">{{autoType.name}}</option>
          </select>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col">
          <label for="length" class="form-label">Lungime</label>
          <input #lengthInput id="length" name="length" class="form-control"
                 [(ngModel)]="model.length"
                 (focusin)="onFocusIn(lengthInput)"
                 (focusout)="onFocusOut(lengthInput)"
                 #length="ngModel"
                 pattern="{{validationHelper.Pattern.Numbers}}">
          <app-validation-summary [appValidationModel]="length"></app-validation-summary>
        </div>
        <div class="col">
          <label for="width" class="form-label">Latime</label>
          <input #widthInput id="width" name="width" class="form-control"
                 [(ngModel)]="model.width"
                 (focusin)="onFocusIn(widthInput)"
                 (focusout)="onFocusOut(widthInput)"
                 #width="ngModel"
                 pattern="{{validationHelper.Pattern.Numbers}}">
          <app-validation-summary [appValidationModel]="width"></app-validation-summary>
        </div>
        <div class="col">
          <label for="height" class="form-label">Inaltime</label>
          <input #heightInput id="height" name="height" class="form-control"
                 [(ngModel)]="model.height"
                 (focusin)="onFocusIn(heightInput)"
                 (focusout)="onFocusOut(heightInput)"
                 #height="ngModel"
                 pattern="{{validationHelper.Pattern.Numbers}}">
          <app-validation-summary [appValidationModel]="height"></app-validation-summary>
        </div>
        <div class="col">
          <label for="volume" class="form-label">Volum</label>
          <input id="volume" name="volume" class="form-control" readonly [value]="model.volume"/>
        </div>
      </div>

      <div class="row mb-2">

        <div class="col">
          <label for="itpExp" class="form-label">Valabilitate ITP</label>
          <div class="input-group">
            <input type="text"
                   id="itpExp" name="itpExp" class="form-control"
                   [ngClass]="getColor(model.itpExpDate)"
                   placeholder="Data expirare"
                   bsDatepicker
                   [bsConfig]="pickerConfig.get()"
                   [(ngModel)]="model.itpExpDate"
                   #itpExp="ngModel">
          </div>
          <app-validation-summary [appValidationModel]="itpExp"></app-validation-summary>
        </div>


        <div class="col">
          <label for="certCemtExp" class="form-label">Valabilitate CEMT</label>
          <div class="input-group">
            <input type="text" id="certCemtExp" name="certCemtExp"
                   [ngClass]="getColor(model.certCemtExpDate)"
                   placeholder="Data expirare"
                   class="form-control"
                   bsDatepicker
                   [bsConfig]="pickerConfig.get()"
                   [(ngModel)]="model.certCemtExpDate" #certCemtExp="ngModel">
          </div>
          <app-validation-summary [appValidationModel]="certCemtExp"></app-validation-summary>
        </div>

        <div class="col">
          <label for="certAgrExp" class="form-label">Valabilitate Agreriere</label>
          <div class="input-group">
            <input type="text" id="certAgrExp" name="certAgrExp"
                   [ngClass]="getColor(model.certAgrExpDate)"
                   placeholder="Data expirare"
                   class="form-control"
                   bsDatepicker
                   [bsConfig]="pickerConfig.get()"
                   [(ngModel)]="model.certAgrExpDate"
                   #certAgrExp="ngModel">
          </div>
          <app-validation-summary [appValidationModel]="certAgrExp"></app-validation-summary>
        </div>

        <div class="col">
          <label for="certRcaExp" class="form-label">Valabilitate Rca</label>
          <div class="input-group">
            <input type="text" id="certRcaExp" name="certRcaExp"
                   [ngClass]="getColor(model.certRcaExpDate)"
                   placeholder="Data expirare"
                   class="form-control"
                   bsDatepicker
                   [bsConfig]="pickerConfig.get()"
                   [(ngModel)]="model.certRcaExpDate"
                   #certRcaExp="ngModel">
          </div>
          <app-validation-summary [appValidationModel]="certRcaExp"></app-validation-summary>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col">
          <label for="certCVerde" class="form-label">Valabiliate Carte Verde</label>
          <div class="input-group">
            <input type="text" id="certCVerde" name="certCVerde"
                   [ngClass]="getColor(model.certCVerdeExpDate)"
                   placeholder="Data expirare"
                   class="form-control"
                   bsDatepicker
                   [bsConfig]="pickerConfig.get()"
                   [(ngModel)]="model.certCVerdeExpDate"
                   #certCVerde="ngModel">
          </div>
          <app-validation-summary [appValidationModel]="certCVerde"></app-validation-summary>
        </div>

        <div class="col">
          <label for="certCasco" class="form-label">Valabiliate Casco</label>
          <div class="input-group">
            <input type="text" id="certCasco" name="certCasco"
                   [ngClass]="getColor(model.certCascoExpDate)"
                   placeholder="Data expirare"
                   class="form-control"
                   bsDatepicker
                   [bsConfig]="pickerConfig.get()"
                   [(ngModel)]="model.certCascoExpDate"
                   #certCasco="ngModel">
          </div>
          <app-validation-summary [appValidationModel]="certCasco"></app-validation-summary>
        </div>

        <div class="col">
          <label for="certExtin" class="form-label">Valabiliate Extinctor</label>
          <div class="input-group">
            <input type="text" id="certExtin" name="certExtin"
                   [ngClass]="getColor(model.certStingExpDate)"
                   placeholder="Data expirare"
                   class="form-control"
                   bsDatepicker
                   [bsConfig]="pickerConfig.get()"
                   [(ngModel)]="model.certStingExpDate"
                   #certExtin="ngModel">
          </div>
          <app-validation-summary [appValidationModel]="certExtin"></app-validation-summary>
        </div>

      </div>

    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" [disabled]="form.invalid" (click)="confirmSubmit()">Salveaza</button>
  <button type="button" class="btn btn-secondary" (click)="decline()">Anuleaza</button>
</div>

