/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap";
@import url('./assets/open-iconic/font/css/open-iconic-bootstrap.min.css');

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

:root{
  --color-blue: #2196f3;
  --color-darkblue: #1769aa;
  --color-red: #a12059;
  --color-darkred: #70163e;
  --color-green: #009688;
  --color-darkgreen: #03766b;
  --color-dark: #33334c;
  --color-lightblue:#e7f3fd;
}
.main{
  position: relative;
  height: 100vh;
  background-color: #fff;
}

.workspace{
  position: absolute;
  top: 3.5rem;
  left: 250px;
  height: calc(100vh - 3.5rem);
  width: calc(100vw - 250px);
  min-width: 700px;

  .container-fluid{
    height: 100%;
  }

  .row{
    height: 100%;
  }
}

.sidebar{
  position: absolute;
  top: 0;
  height: 100vh;
  width: 250px;
  background-color: var(--color-dark);

  .container{
    padding: 0;
  }
}

.top-row-brand{
  display: flex;
  height: 3.5rem;
  background-color: var(--color-darkblue);

  .navbar{
    justify-content: center;
  }
}

.top-row {
  margin-left: 250px;
  left: 250px;
  height: 3.5rem;
  background-color: var(--color-blue);
}

.navbar-brand {
  font-size: 1.1rem;
}

tbody{
  tr{
    cursor: pointer;

    &.active{
      background-color: var(--color-lightblue);
    }
  }
}

.required:after {
  content:" *";
  color: red;
}

.input-group{
  .alert{
    margin-bottom: 0;
  }
}

.modal-header{
  background-color: var(--color-blue);

  .modal-title{
    color: #fff;
  }
}

.calendar{
  bs-datepicker-inline-container{
    display: block!important;

    .bs-datepicker{
      display: block;

      .bs-media-container{
        display: block;
      }
    }
  }
}

