<div>
  <ul class="nav flex-column">

    <li class="nav-item px-3">
      <a class="nav-link" routerLinkActive="active" routerLink="/orders">
        <span class="oi oi-globe" aria-hidden="true"></span> Curse
      </a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link" routerLinkActive="active" routerLink="drivers">
        <span class="oi oi-person" aria-hidden="true"></span> Soferi
      </a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link" routerLinkActive="active" routerLink="trucks">
        <span class="oi oi-vertical-align-top" aria-hidden="true"></span> Camioane
      </a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link" routerLinkActive="active" routerLink="trails">
        <span class="oi oi-vertical-align-center" aria-hidden="true"></span> Remorci
      </a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link" routerLinkActive="active" routerLink="clients">
        <span class="oi oi-people" aria-hidden="true"></span> Clienti
      </a>
    </li>
  </ul>
</div>
